#prayer-bg {
    background-color: rgb(255,247,242);
    height: 73em;
    color: rgb(11,64,58);
}

.prayer-content{
    text-align: center;
    vertical-align: middle;
    padding: 9em 1em 0 1em;
}

.prayer-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 5em;
    padding-bottom: 1em;
}

.prayer-info {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.prayer-subheading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2em ;
    margin: 2.75em 0 0.75em 0;
} 

.prayer-group {
    display: inline-flex;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    padding: 0 1em;
    margin: 1.5em 0 2em 0;
}

.prayer-group ul li {
    font-size: 1.25em;
}

.prayer-contact {
    font-size: 25px;
    margin-bottom: 1em;
    line-height: 1.25em;
}

/* iPad Viewport */
@media only screen and (max-width: 820px) {
    .prayer-content{
        padding: 7em 1em 0 1em;
    }

    .prayer-heading {
        font-size: 4.5em;
        padding-bottom: 0.75em;
    }

    .prayer-subheading {
        font-size: 2em;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #prayer-bg {
        height: 65em;
    }

    .prayer-content{
        padding: 5em 1em 0 1em;
    }
    
    .prayer-heading {
        font-size: 2.75em;
    }
    
    .prayer-subheading {
        font-size: 1.75em;
        font-weight: 500;
        margin: 2em 0 0.5em 0;
    }

    .prayer-info {
        font-size: 1.25em;
        margin-bottom: 1.5em;
    }

    .prayer-group {
        font-size: 1.1em;
    }

    .prayer-time {
        display: block;
    }

    .prayer-contact {
        font-size: 20px;
    }
}
