#about-bg {
    background-color: rgb(255,247,242);
    height: 3000px;
    color: rgb(11,64,58);
}

.about-content{
    text-align: center;
    vertical-align: middle;
    padding: 120px 24px 0 24px;
}

#about-logo {
    height: 120px;
    margin-bottom: 24px;
}

.about-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 16px;
}

.about-VVP {
    display: inline-flex;
    margin: 0 5% 96px 5%;
}

.about-item {
    width: 33%;
}

.about-subheading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 16px;
    color: rgb(236,146,15);
}

.about-subinfo {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

.nlac-story {
    margin: 0 8%;
}

.nlac-story p {
    font-size: 20px;
}

.nlac-story h4 {
    margin: 25px 0 16px 0;
    color: rgb(236,146,15);
}

/* Desktops, large screens Viewport */
@media only screen and (max-width: 1200px) {
    #about-bg {
        height: 275px;
    }

    .about-content{
        padding: 7em 1em 0 1em;
    }

    .about-heading {
        font-size: 4.5em;
        padding-bottom: 0.5em;
    }

    .about-VVP {
        display: block;
        justify-content: center;
        width: 90%;
        margin: 0 auto 6em auto;
    }

    .about-subheading {
        width: 100%;
        font-size: 2.5em;
        margin-bottom: 1em;
    }

    .nlac-story {
        margin: 0 3em;
    }
}

/* Small screens, laptops Viewport */
@media only screen and (max-width: 1024px) {
    #about-bg {
        height: 2750px;
    }

    .nlac-story {
        margin: 0 2em;
    }
}

/* iPad Viewport */
@media only screen and (max-width: 768px) {
    #about-bg {
        height: 283em;
    }

    .nlac-story {
        margin: 0 0.5em;
    }

    .about-subheading {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 480px) {
    #about-bg {
        height: 425em;
    }

    .about-content{
        padding: 5em 1em 0 1em;
    }

    #about-logo {
        height: 6em;
    }
    
    .about-heading {
        font-size: 3.2em;
    }

    .nlac-story {
        margin: 0 0.5em;
    }

    .about-subheading {
        width: auto !important;
        font-size: 2.25em;
        margin-bottom: 0.5em;
    }
}

