#support-bg {
    background-color: rgb(255,247,242);
    height: 80em;
    color: rgb(11,64,58);
}

#support-img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.support-bg-white {
    position: relative;
    background-color: white;
    display: block;
    margin: -34em auto 0 auto;
    width: 60em;
    height: 38em;
}

.support-circle {
    position: relative;
    top: -95px;
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 11em;
    height: 11em;
    border-radius: 50%;
}

#support-logo {
    position: relative;
    top: 15px;
    height: 9em;
    display: block;
    margin: 0 auto;
}

.support-info {
    justify-content: center;
    text-align: center;
}

.support-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 4.5em;
    margin-bottom: 0.5em;
}

.support-subheading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 2.5em;
}

#donate-button {
    background-color: rgb(236,146,15);
    color: white;
    font-family: 'Merriweather Sans', sans-serif !important;
    font-weight: bold;
    font-size: 1.3em;
    width: 175px;
    height: 60px;
}

/* 3/4 Page Viewport */
@media only screen and (max-width: 1500px) {
    #support-bg {
        height: 63em;
    }

    .support-bg-white {
        width: 55em;
        margin: -34em auto 0 auto;
    }
}

/* 1/2 Page Viewport */
@media only screen and (max-width: 1100px) {
    #support-bg {
        height: 47em;
    }

    #support-img {
        visibility: hidden;
    }

    .support-bg-white {
        margin: -34em auto 0 auto;
        width: 50em;
    }
}

/* iPad Viewport */
@media only screen and (max-width: 850px) {
    #support-bg {
        height: 58em;
    }
    
    .support-bg-white {
        width: 40em;
        height: 45em;;
        margin: -20em auto 0 auto;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #support-bg {
        height: 67em;
    }

    .support-circle {
        position: relative;
        top: -70px;
        background-color: white;
        display: block;
        margin: 0 auto;
        width: 8em !important;
        height: 8em !important;
    }

    #support-logo {
        height: 6em;
    }

    #support-img {
        display: none;
    }

    .support-bg-white {
        top: 380px;
        margin: -20em auto 0 auto;
        width: 22em;
        height: 38em;
    }
    
    .support-heading {
        font-size: 3.1em;
        margin-bottom: 0.3em;
    }
    
    .support-subheading {
        font-size: 1.3em;
        margin-bottom: 2.5em;
    }
}

