#staff-bg {
    background-color: rgb(255,247,242);
    height: 1375px;
    color: rgb(11,64,58);
}

.staff-content{
    text-align: center;
    vertical-align: middle;
    padding: 120px 24px 0 24px;
}

#staff-logo {
    height: 120px;
    margin-bottom: 24px;
}

.staff-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 16px;
}

.staff-card {
    display: inline-flex;
    margin: 60px 5% 96px 5%;
}

.staff-individual {
    width: 50%;
    background-color: rgb(255,255,255);
    padding: 30px;
    margin: 25px;
}

.staff-title {
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(236,146,15);
    font-size: 25px;
}

.staff-subheading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 37px;
    color: rgb(236,146,15);
}

.staff-subinfo {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
}

/* Desktops, large screens Viewport */
@media only screen and (max-width: 1200px) {
    #staff-bg {
        height: 1600px;
    }

    .staff-card {
        display: block;
        justify-content: center;
        width: 90%;
    }

    .staff-individual {
        width: 100% !important;
        margin: 30px;
    }


}

/* Small screens, laptops Viewport */
@media only screen and (max-width: 1024px) {
    #staff-bg {
        height: 1775px;
    }
}

/* iPad Viewport */
@media only screen and (max-width: 768px) {
    #staff-bg {
        height: 2050px;
    }

    .staff-heading {
        font-size: 60px;
    }

    .staff-individual {
        width: 90% !important;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 480px) {
    #staff-bg {
        height: 170em;
    }

    .staff-content{
        padding: 5em 1em 0 1em;
    }

    #staff-logo {
        height: 6em;
    }

    .staff-individual {
        padding: 1.5em 0.5em 1.5em 0.5em;
    }
    
    .staff-heading {
        font-size: 3.2em;
    }

    .staff-subheading {
        width: auto !important;
        font-size: 2.25em;
    }
}

