#background {
    background-image: url(../../image/north-vancouver.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 65em;
    opacity: 0.95;
}

.welcome  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55em;
    padding-top: 10em;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 9.5em;
    color: rgb(236,146,15);
    text-shadow: 5px 7px 0px rgba(87, 90, 94, 0.5);
}

.sub-heading {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: aliceblue;
}

/* 3/4 Page Viewport */
@media only screen and (max-width: 1500px) {
    .heading {
        font-size: 9.3em;
        color: rgb(236,146,15);
        text-shadow: 5px 7px 0px rgba(87, 90, 94, 0.5);
    }
    
    .sub-heading {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: bold;
        font-size: 3em;
        color: aliceblue;
    }
}

/* 1/2 Page Viewport */
@media only screen and (max-width: 1100px) {
    .heading {
        font-size: 7em;
        color: rgb(236,146,15);
        text-shadow: 5px 7px 0px rgba(87, 90, 94, 0.5);
    }
    
    .sub-heading {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: bold;
        font-size: 3em;
        color: aliceblue;
    }
}

/* iPad Viewport */
@media only screen and (max-width: 850px) {
    .heading {
        font-size: 5em;
        color: rgb(236,146,15);
        text-shadow: 5px 7px 0px rgba(87, 90, 94, 0.5);
    }
    
    .sub-heading {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: bold;
        font-size: 3em;
        color: aliceblue;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #background{
        height: 50em;
    }

    .welcome {
        padding-top: 0 !important;
        padding-bottom: 6em;
    }

    .heading {
        font-size: 3em;
    }
    
    .sub-heading {
        font-size: 1.5em;
    }
}

