#navbar {
    background-color: rgb(1,52,72) !important;
    padding: 1.25em 0;
}

#nav-container {
    align-content: space-around !important;
}

#responsive-navbar-nav {
    background-color: rgb(1,52,72) !important;
}

#nlac {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(236,146,15);
    padding-right: 8em;
}

#alliance-logo {
    height: 3em;
    padding-right: 0.5em;
}

.me-auto {
    justify-content: space-evenly;
    justify-items: right;
}

.navlink {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: whitesmoke;
    margin: 0 1em;
}

.navlink-drop {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: whitesmoke;
    margin: 0 0.5em;
}

.navlink-dropitem {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke !important;
    background-color: rgb(1,52,72) !important;
    padding: 0.5em 2.5em !important;
}

a :hover {
    color: rgb(236,146,15) !important;
}

/* 3/4 Page Viewport */
@media only screen and (max-width: 1500px) {
    #nlac {
        font-size: x-large;
        padding-right: 2em;
    }
}

/* 1/2 Page Viewport */
@media only screen and (max-width: 1100px) {
    #nlac {
        font-size: x-large;
        padding-right: 0em;
    }

    .navlink-drop {
        margin: 0 1em;
    }
}

/* iPad Viewport */
@media only screen and (max-width: 850px) {
    #nlac {
        font-size: 1.5em;
    }

    .navlink-drop {
        margin: 0 1em;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #nlac {
        font-size: 1.2em;
        padding-right: 0 !important;
        padding-left: 0.2em;
    }

    #alliance-logo {
        height: 3em;
    }

    .navlink {
      font-size: large;
    }

    .navlink-drop {
        font-size: 1.2em;
        bottom: 0.18em;
        right: 0.1em;
    }
}
