#footer-bg {
    background-color: rgb(1,52,72);
    height: 19em;
}

.footer-content {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    line-height: normal;
    padding: 2.5em 1em 0 1em;
}

.footer-nlac {
    font-family: 'Playfair Display', serif;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(236,146,15);
}

#footer-alliance-logo {
    height: 3em;
    margin-right: 1em;
}

.footer-info {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(236,146,15);
}   


/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #footer-bg {
        height: 15em;
    }

    .footer-nlac {
        font-size: large;
    }
    
    .footer-info {
        font-size: 0.75em;
    } 
}
