#statement-bg {
    background-color: rgb(255,247,242);
    height: 58em;
    color: rgb(11,64,58);
}

.statement-content{
    text-align: center;
    vertical-align: middle;
    padding: 10em 0em 4em 0em;
}

/* Statement Top Lines */
.statement-heading {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#horizontal-line {
    width: 33em;
    border-top: thick solid rgb(236,146,15);
}

#statement-logo {
    height: 9em;
    margin: 0 1em 1em 1em;
}

.statement-info {
    font-family: 'Playfair Display', serif;
    margin: 10em 18em;
}

/* Statement Bottom Lines */
.statement-heading-1 {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 4em 0;
}

#horizontal-line-1 {
    width: 50em;
    border-top: thick solid rgb(236,146,15);
}

.statement-nlac {
    color: rgb(236,146,15);
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 1em;
}

#horizontal-line-2 {
    width: 20em;
    border-top: thick solid rgb(236,146,15);
}

/* 3/4 Page Viewport */
@media only screen and (max-width: 1500px) {
    #statement-bg {
        height: 58em;
    }

    .statement-info {
        margin: 10em 6em;
    }

    #horizontal-line {
        width: 28em;
    }

    #horizontal-line-1 {
        width: 39em;
    }

    #horizontal-line-2 {
        width: 20em;
    }
}

/* 1/2 Page Viewport */
@media only screen and (max-width: 1100px) {
    #statement-bg {
        height: 62em;
    }

    .statement-info {
        margin: 10em 6em;
    }

    #horizontal-line {
        width: 21em;
    }

    #horizontal-line-1 {
        width: 30em;
    }

    #horizontal-line-2 {
        width: 15em;
    }
}

/* iPad Viewport */
@media only screen and (max-width: 850px) {
    #statement-bg {
        height: 53em;
    }

    .statement-info {
        margin: 8em 3em;
    }

    #horizontal-line {
        width: 15em;
    }

    #statement-logo {
        height: 8em;
    }

    #horizontal-line-1 {
        width: 21em;
    }

    #horizontal-line-2 {
        width: 12em;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #statement-bg {
        height: 45em;
    }

    .statement-content{
        padding: 7em 0em 4em 0em;
    }

    .statement-info {
        margin: 4em 1em;
    }

    #statement-logo {
        height: 6em;
    }

    #horizontal-line {
        display: none;
    }

    .statement-nlac {
        font-size: 1.2em;
        font-weight: 500;
    }

    #horizontal-line-1 {
        width: 11em;
    }

    #horizontal-line-2 {
        width: 5em;
    }
}
