#online-bg {
    background-color: rgb(255,247,242);
    height: 90em;
    color: rgb(11,64,58);
}

.online-content{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    padding: 9em 1em 0 1em;
}

#online-logo {
    height: 9em;
    margin-bottom: 1.5em;
}

.online-heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 5em;
    padding-bottom: 1em;
}

.online-subheading {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    line-height: 2.5em;
}

p a {
    color: rgb(236,146,15);
}
p a:hover {
    color: rgb(11,64,58) !important;
}

.online-covid {
    text-align: center;
}   

.online-list {
    display: inline-flex;
    text-align: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
    padding: 0 1em;
}

.online-list ol li {
    font-size: 1.25em;
}

/* iPad Viewport */
@media only screen and (max-width: 820px) {
    #online-bg {
        height: 85em;
    }

    .online-content{
        line-height: 90px;
        padding: 7em 1em 0 1em;
    }

    .online-heading {
        font-size: 4.5em;
        padding-bottom: 0.75em;
    }

    .online-subheading {
        font-size: 1.25em;
        line-height: 2.5em;
    }
}

/* Mobile Viewport */
@media only screen and (max-width: 500px) {
    #online-bg {
        height: 92em;
    }

    .online-content{
        padding: 5em 1em 0 1em;
    }

    #online-logo {
        height: 6em;
    }
    
    .online-heading {
        font-size: 2.75em;
    }
    
    .online-subheading {
        font-size: 1.25em;
        font-weight: 600;
    }
}
